#error_explanation {
  color: red;
  text-align: center;
  font-size: 17px;
  font-weight: 100;

  li {
    padding: 5px 0;
  }
}

// --- flash[:alert] ---
.alert {
  text-align: center;
  color: red;
  font-size: 17px;
  font-weight: 100;
}

// --- レシピ投稿のエラー ---
.error-alert {
  font-family: 'Noto Sans JP', serif;
  text-align: center;
  padding: 20px;
  font-size: 22px;
  color: red;

  li {
    margin-bottom: 15px;
  }
}