.invite-user
  = f.text_field :user_id, placeholder: "招待したいユーザーのIDを入力してください", name: "group_form[user_names][]", value: user_name
  <i class="fas fa-times-circle remove_cooking_btn" style="cursor:pointer;"></i>