// --- リスト作成画面 ---
.group-shopping-new {
  padding: 80px 0 40px;
  background-color: #fae5d0;
  font-family: 'Noto Sans JP', serif;

  &-page-title {
    font-size: 40px;
    font-weight: 900;
    border-bottom: 1px solid red;
    padding: 10px 50px;
  }

  &-heading {
    padding: 30px 60px;
    font-size: 35px;
  }

  &-no-recipe {
    color: rgba(255, 0, 0, 0.7);
    font-size: 25px;
    text-align: center;
  }

  .recipes {
    padding: 20px 10px;
    border: 10px dotted rgba(56, 255, 145, 0.6);
    border-radius: 20px;
    height: 1000px;
    position: relative;
    overflow: scroll;
    .recipe {
      height: 500px;
    }
  }
  .group-shopping-recipe-checkbox {
    position: absolute;
    width:			30px;
    height:			30px;
  }

  .add-group-shopping-btn-wrapper {
    text-align: center;
    padding: 50px 0;

    .add-group-shopping-btn {
      width: 400px;
      padding: 15px 0;
      background-color: rgb(255, 125, 65);
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
      color: white;
      border-radius: 40px;
      font-size: 35px;
      font-weight: 500;
    }
  }

}

// --- リスト詳細画面 ---
.group-shopping-show {
  padding: 80px 0 40px;
  background-color: #fae5d0;
  font-family: 'Noto Sans JP', serif;

  &-heading-wrapper {
    font-size: 40px;
    font-weight: 900;
    border-bottom: 1px solid red;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
  }
  .new-group-shopping-link-wrapper {
    color: rgba(255, 0, 0, 0.8);
    font-size: 30px;
  }

  &-lists {
    padding: 40px 200px 20px 150px;
    font-size: 30px;
  }
  .ingredients {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid orange;
    padding-bottom: 10px;
    margin-bottom: 35px;
  }
  .group-shopping-ingredient-checkbox {
    height: 20px;
    width: 20px;;
    margin-right: 10px
  }
  .amount {
    padding-right: 30px;
  }

  #group_shopping_memo {
    display: block;
    background-color: rgba(255, 166, 0, 0.8);
    border-radius: 20px;
    font-size: 18px;
    width: 80%;
    margin: 0 auto;
    padding: 15px 10px;
  }

  .submit-btn-wrapper {
    text-align: center;
    margin: 60px 0 20px;
  }
  .submit-btn {
    width: 300px;
    padding: 15px 0;
    background-color: rgb(255, 128, 70);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 40px;
    text-align: center;
    font-size: 35px;
    font-weight: 900;
  }

}